#root {
  background-color: black;
}

.imageContainer {
  width: 100%;
}

.imageCard {
  padding-top: 10px;
  align-items: center;
  padding-right: 18%;
  padding-left: 18%;
}

@media screen and (max-width: 1000px) {
  .imageCard {
    padding-right: 0;
    padding-left: 0;
  }
}
img {
  width: 100%;
}

svg {
  float: right;
  margin: 5px;
}

svg:focus,
svg:hover,
svg:active {
  outline: none;
}

.titles {
  color: whitesmoke;
  padding-left: 18%;
}

.accordion-button:focus {
  outline: none !important;
  box-shadow: none;
  outline: none !important;
  box-shadow: none !important;
  background-color: white !important;
  color: black !important;
}
